<h1>Guests:</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Asiste?</th>
    <th>Acompañantes?</th>
    <th>Nombres de acompañantes</th>
    <th>Niños?</th>
    <th>Cantidad de niños</th>
    <th>Restricciones de dieta?</th>
    <th>Cuáles restricciones?</th>
    <th>Created at</th>
  </tr>
  <% @guests.each do |guest| %>
    <tr>
      <td><%= guest.name %></td>
      <td><%= guest.attending %></td>
      <td><%= guest.partner %></td>
      <td><%= guest.partners_name %></td>
      <td><%= guest.children_attending %></td>
      <td><%= guest.children_quantity %></td>
      <td><%= guest.dietary_restrictions %></td>
      <td><%= guest.dietary_restrictions_indications %></td>
      <td><%= guest.created_at %></td>
    </tr>
  <% end %>
</table>
